body {
    background-image: url("images/bg.png");
    background-attachment: fixed;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: beige;
}

h1, p {
    text-align: center;
    margin: 10px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery a {
    margin: 10px;
    text-decoration: none;
}

.gallery img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

.button {
    background-color: #181b36;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

